@import controllers.conf.ConfController._
@import helper._

@implicitField = @{ FieldConstructor(views.html.normalFieldConstructorTemplate.f) }

@main {

@navbar(4)

<div class="container bs-docs-container">

<div class="row">
<div class="col-md-9" role="main">
	<!-- less.js isn't IE8-compatible and throws an exception during initialization, so our Blob compatibility check and error messaging code never get called in that case.
	So we use a conditional comment instead to inform folks about the lack of IE8 support.
	-->
	<!--[if lt IE 9]>
	<style>
	.bs-customizer,
	.bs-customizer-import,
	.bs-docs-sidebar {
	display: none;
	}
	</style>
	<div class="alert alert-danger">
	<strong>This site does not support IE9 and below.</strong><br>
	Please take a second to <a href="http://browsehappy.com/">upgrade to a more modern browser</a>.
	</div>
	<![endif]-->

	<!-- 公告栏 -->
	<div id="defaults-change-alert" class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>注意！</strong> <code>Hello</code> 这里可以显示公告信息。
	</div>

	<!-- 页面详细内容 -->
	<div class="bs-docs-section bs-customizer-import">
		<h1 id="tables" class="page-header">公告管理</h1>
		<p class="lead">每当修改或增加公告时，全局版本号更新；每当修改配置信息时，全局版本号更新。缓存根据最新全局版本号定时载入最新配置信息。</p>
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">查询条件</h4>
				</div>
				<div class="panel-body">
                    <form class="form-inline">
					<div class="form-group">
                        <label class="sr-only" for="keyword">关键字</label>
                        <div class="input-group">
						<input id="keyword" type="text" class="form-control" placeholder="关键字"	>
                        </div>
					</div>
                    <button id="searchAnn" class="btn btn-primary" type="button">搜索</button>
                    </form>
				</div>
			</div>
			<div id="toolbar" class="btn-group">
				<button id="addAnn" class="btn btn-default" data-toggle="modal" data-target="#annModal">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
				</button>
				<button id="editAnn" class="btn btn-default">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
				</button>
				<button id="delAnn" class="btn btn-default">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
				</button>
			</div>
			<table id="annTable" class="table table-hover"></table>
		</div><!-- /.row -->
	</div>
</div>
	
<div class="col-md-3" role="complementary">
	<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
		<ul class="nav bs-docs-sidenav">
            <li><a href="/conf/bizChannelMgr"><i class="icon-chevron-right"></i>支付渠道</a></li>
            <li><a href="/conf/announcementMgr"><i class="icon-chevron-right"></i>公告管理</a></li>
		</ul>
		<a class="back-to-top" href="#top">返回顶部</a>
	</nav>
</div>

</div>
</div>

<!-- 模态对话框 -->
<div class="modal fade" id="annModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="关闭">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">新建公告</h4>
			</div>
			<div class="modal-body">
				@helper.form(action = controllers.conf.routes.ConfController.newAnnouncement()) {
					@helper.input(announcementForm("annType"), '_label -> "公告类型") { (id, name, value, args) =>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="@name" value="1" checked>公告
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="@name" value="2">配置变更
                                </label>
                            </div>
						<!--<span class="errors">elements.errors.mkString(", ")</span> -->
						<!--<span class="help">elements.infos.mkString(", ")</span> -->
					}

					@helper.textarea(
						announcementForm("content"),
						args = 'rows -> 3, 'cols -> 50, 'class -> "form-control",
						'_label -> "内容", 'placeholder -> "公告内容")
					@helper.inputText(announcementForm("startTime"),
                        args = '_label -> "起始时间", 'class -> "form-control")
					@helper.inputText(announcementForm("endTime"),
                        args = '_label -> "结束时间", 'class -> "form-control")
				}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button id="submitAnnouncementBtn" type="button" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

	} {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-datetimepicker.min.css")">
<script src="@routes.Assets.at("js/bootstrap-datetimepicker.min.js")" charset="UTF-8" type="text/javascript"></script>
<script src="@routes.Assets.at("js/bootstrap-datetimepicker.zh-CN.js")" charset="UTF-8" type="text/javascript"></script>

<script language="javascript">
function queryChannelParams(params) {
	var a = params;
	a.keyword = $("#keyword").val();
	return a;
}

$('#startTime').datetimepicker({
	language: 'zh-CN',
	autoclose: 1,
	format: 'yyyy-mm-dd hh:ii',
	weekStart: 0,
	startDate: '-0d',
	endDate: '+30d',
	startView: 2,
	minView: 1,
	todayBtn: 0,
	todayHighlight: 1,
	keyboardNavigation: 1,
	minuteStep: 10,
	//showMeridian: 1,
	forceParse: 1
});

$('#endTime').datetimepicker({
	language: 'zh-CN',
	autoclose: 1,
	format: 'yyyy-mm-dd hh:ii',
	weekStart: 0,
	startDate: '-0d',
	endDate: '+60d',
	startView: 2,
	minView: 1,
	todayBtn: 0,
	todayHighlight: 1,
	keyboardNavigation: 1,
	minuteStep: 10,
	//showMeridian: 1,
	forceParse: 1
});

$('#annModal').on('shown.bs.modal', function () {
	  // 执行一些动作...
	emptyAnnForm();
});

function emptyAnnForm() {
	$(":radio[name='annType']").eq(0).prop("checked", "checked");
	$(":radio[name='annType']").eq(1).prop("checked", false);
	$('#content').val("");
	$('#startTime').val("");
	$('#endTime').val("");
}

$('#submitAnnouncementBtn').on('click', function() {
	var annTypeObj = $('input[name="annType"]:checked');
	var annType = 1;
	if (annTypeObj) {
		annType = parseInt(annTypeObj.val());
	}
	var content = $('#content').val();
	var startTime = $('#startTime').val();
	var endTime = $('#endTime').val();

	alert(annType + ", " + content + ", " + startTime + ", " + endTime);

	$('#annModal').modal('toggle');
	return false;
});

$('#searchAnn').on('click', function() {
	$("#annTable").bootstrapTable('refresh');
	return false;
});

$('#annTable').bootstrapTable({
	url: '/conf/announcement/list',
	dataType: "json",
	// contentType: "application/x-www-form-urlencoded",//请求数据内容格式 
	dataField: "rows",	// 服务端返回数据键值
	// height: tableHeight(),
	method: "GET",
	cache: false,
	//singleSelect: false,
	//locale: "zh-CN",
	//search: true,
	sortable: false,
	sortOrder: "asc",
	clickToSelect: true,		//启用点击选中本行
	searchAlign: "left",		//查询框对齐方式
	searchOnEnterKey: false,	//回车搜索
	showRefresh: true,			//刷新按钮
	showColumns: true,			//列选择按钮
	toolbar: "#toolbar",
	toolbarAlign: "right",		//工具栏对齐方式
	buttonsAlign: "left",		//按钮对齐方式
	striped: true,              //是否显示行间隔色
	pagination: true,
	paginationLoop: true,
	pageNumber: 1,
	pageSize: 10,
	pageList: [10, 25, 50, 100],
	queryParams: queryChannelParams,
	queryParamsType: "limit",
	sidePagination: "server",
	columns: [{
		field: 'annType',
		title: '类型',
		formatter: 'annTypeFormatter' // 格式化
	}, {
		field: 'startTime',
		title: '起始时间'
	}, {
		field: 'endTime',
		title: '结束时间'
	}],

	onClickRow: function(row, $element) {
		//$element是当前tr的jquery对象
		$element.css("background-color", "green");
	},//单击row事件
	detailView: true,	// 详情折叠显示
	detailFormatter: function(index, row, element) {
		var html = '';
		$.each(row, function(key, val){
			html += "<p>" + key + ":" + val +  "</p>"
		});
		return html;
	},
	// 注册加载子表的事件
	onExpandRow: function (index, row, $detail) {
		showPaymethodConf(index, row, $detail);
	}
});

function annTypeFormatter(value, row, index) {
	if (value == 1) {
		return "公告";
	} else {
		return "配置变更";
	}
}

function showPaymethodConf(index, row, $detail) {
	var channelId = row.oid;
	var key = row.secretKey;
	$detail.html(channelId + "<br/>" + key + "<br/>");
}
</script>
	}
