<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<title>@Messages("app.name")</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="微途驿 - 请客官歇歇脚。">
	<meta name="keywords" content="scala, play, bootstrap, vitular, 休闲, 茶, 点心">
	<meta name="author" content="camry.wu">
	<!-- Favicons -->
	<link rel="apple-touch-icon" href='@routes.Assets.at("images/apple-touch-icon.png")'>
	<link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.ico")'>
	@styles()
</head>
