@(navId:Int)

@**********************************
* Helper generating nav bar       *
***********************************@
@getTitle(id: Int) = @{
	var ret: String = ""
	id match {
		case 0 => ret = "订单"
		case 1 => ret = "期刊"
		case 2 => ret = "用户"
		case 3 => ret = "商品"
		case 4 => ret = "设置"
		case _ => ret = "其他"
	}
	ret
}
@createNavbar(id: Int, link: String) = {
	@if(id == navId) {
					<li class="active">
	} else {
					<li>
	}
						<a href="@link" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', '@getTitle(id)'])>@getTitle(id)</a>
					</li>
}

<!-- Navbar
    ================================================== -->

    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Skip to main content</span></div></a>

    <!-- 导航栏 -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">导航栏</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="./index.html" class="navbar-brand">首页</a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
					@createNavbar(0, "/")
					@createNavbar(1, "/")
					@createNavbar(2, "/")
					@createNavbar(3, "/")
					@createNavbar(4, "/conf/index")
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://mb.bootcss.com" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'themes'])" target="_blank">主题/模板</a></li>
                    <li><a href="http://www.bootcss.com/" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-Bootstrap中文网'])" target="_blank">Bootstrap中文网</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- 头部 -->
    <div class="bs-docs-header" id="content" tabindex="-1">
        <div class="container">
			<!--
				<h1>订单管理</h1>
				<p class="lead">WTY订单管理</p>
			-->
            <h1>@navId</h1>
            <p>W</p>
        </div>
    </div>
