<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
<!--<link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>-->
<!--<link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-responsive.min.css"))'>-->
<link rel='stylesheet' media="screen" href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
