
	<!-- Bootstrap core CSS -->
	<link rel='stylesheet' media="screen" href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

	<!-- extras -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/docs.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/patch.css")">
	<!--[if lt IE 9]><script src="@routes.Assets.at("js/ie8-responsive-file-warning.js")" type="text/javascript"></script><![endif]-->
	<script src="@routes.Assets.at("js/ie-emulation-modes-warning.js")" type="text/javascript"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script>
		var _hmt = _hmt || [];
	</script>

