@(userId:Long)

@main {

  <h1>User Factory</h1>
  <div>Current Number of Users: <span id="user-count">@userId</span></div>
  <div class="container">
    <h3>User Search</h3>
    <span>
      <input id="search-openId" type="text" name="openId" placeholder="Search for a User by OpenId">
      <div class="search-results"></div>
    </span>
  </div>
  <div class="container">
    <h3>Create a New User</h3>
      <span><input id="create-openId" type="text" name="openId" placeholder="Name for a new User"></span>
      <span><input id="create" type="button" value="Create" /></span>
  </div>
  <div id="selected" class="container">
    <h3>Selected User:</h3>
    <div id="no-user-selected">None</div>
    <div id="user-selected">
      Some(User(
      <span id="user-id">&nbsp;</span>,
      <span id="user-openId">&nbsp;</span>,
      <span id="user-created">&nbsp;</span>
      ))
    </div>
  </div>

}
