@main {

@navbar(0)

<div class="container">

    <!-- Docs nav
    ================================================== -->
	<div class="row">
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav">
				<li><a href="#tables"><i class="icon-chevron-right"></i> 表格</a></li>
				<li><a href="#typography"><i class="icon-chevron-right"></i> 排版</a></li>
				<li><a href="#code"><i class="icon-chevron-right"></i> 代码</a></li>
				<li><a href="#forms"><i class="icon-chevron-right"></i> 表单</a></li>
				<li><a href="#buttons"><i class="icon-chevron-right"></i> 按钮</a></li>
				<li><a href="#images"><i class="icon-chevron-right"></i> 图片</a></li>
				<li><a href="#icons"><i class="icon-chevron-right"></i> 由Glyphicons提供的图标</a></li>
			</ul>
		</div>

		<div class="span9">
			<!-- Tables
			================================================== -->
			<section id="tables">
				<div class="page-header">
					<h1>表格</h1>
				</div>
				<div id="toolbar">
					OpenId: <input id="openId" type="text">
					<input id="searchUserBtn" type="button" value="search">
				</div>
				<table id="table"></table>
			</section>


			<!-- Typography
			================================================== -->
			<section id="typography">
				<div class="page-header">
				<h1>排版</h1>
				</div>
				<p>
				<span class="label label-info">注意！</span>
				通过加入<code>text-overflow</code>，水平描述列表将会对过长而无法在左栏中完全显示的列名截断掉一部分。而在较窄的视口（宽度）中，会改变成垂直(形式)表述，来适应当前屏幕。
				</p>
			</section>


			<!-- Code
			================================================== -->
			<section id="code">
				<div class="page-header">
				<h1>代码</h1>
				</div>

				<p><span class="label label-info">注意！</span>  因为在<code>&lt;pre&gt;</code>标签里, tab会被算进去, 所以要保持代码尽可能的靠左侧</p>
				<p>你也可以添加<code>.pre-scrollable</code>类，把该区域设置成最大高度为350px并带有一个Y轴滚动条。</p>
			</section>


			<!-- Forms
			================================================== -->
			<section id="forms">
				<div class="page-header">
					<h1>表单</h1>
				</div>
			</section>


			<!-- Buttons
			================================================== -->
			<section id="buttons">
				<div class="page-header">
					<h1>按钮</h1>
				</div>

				<p>最佳实践是，根据使用环境，尝试找到一个合适的元素，以确保渲染的效果在各个浏览器保存基本一致。如果你正使用着一个<code>input</code>，那么你的按钮可使用 <code>&lt;input type="submit"&gt;</code>。</p>
			</section>


			<!-- Images
			================================================== -->
			<section id="images">
				<div class="page-header">
					<h1>图片</h1>
				</div>

				<p><span class="label label-info">注意！</span> 由于IE7-8不支持<code>border-radius</code>，因此<code>.img-rounded</code> 和 <code>.img-circle</code>无法正常使用。</p>
			</section>


			<!-- Icons
			================================================== -->
			<section id="icons">
				<div class="page-header">
					<h1>图标 <small>由<a href="http://glyphicons.com" target="_blank">Glyphicons</a>提供</small></h1>
				</div>
			</section>

		</div>
	</div>
</div>

	} {
<script language="javascript">
function queryUserParams(params) {
	var a = params;
	a.openId = $("#openId").val();
	return a;
}

$('#searchUserBtn').on('click', function() {
	$("#table").bootstrapTable('refresh');
});

$('#table').bootstrapTable({
	url: '/user/list',
	dataType: "json",
	method: "GET",
	toolbar: "#toolbar",
	cache: false,
	//singleSelect: false,
	//locale: "zh-CN",
	//search: true,
	pagination: true,
	paginationLoop: true,
	pageNumber: 1,
	pageSize: 1,
	pageList: [1, 25, 50, 100],
	queryParams: queryUserParams,
	queryParamsType: "limit",
	sidePagination: "server",
	columns: [{
		field: 'pubId',
		title: 'ID'
	}, {
		field: 'openId',
		title: 'Name'
	}, {
		field: 'mobile',
		title: 'Mobile'
	}, {
		field: 'lastModify',
		title: 'LastModify'
	}]
});
</script>
	}
